html,body{
  margin:0;
  padding:0;
  font-family:arial;
}

.container{
	width:100%;
}
.container .row{
	display:flex;
}


#page1{
	padding-top:60px;
	height:100vh;
	width:100%;
	background: #43dafd;
	/*background-image: url('../../Downloads/ArtBox/redgirl.png'); */
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;

}

#page1 h1{
  font-size: 100px;
  font-weight: 700;
  font-family:exo;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  color: #fff;

}

#nav{
	top:0;
	position:fixed;
	background-color:white;
	height:60px;
	width:100%;
  box-shadow: 2px 1px 5px 5px #D3D3D3;

}

a{
   display: flex;
    justify-content: center;
    align-items: center;
}

.fab{
  color:black;
  font-size:3em;
}

.button{
  border: 2px blue solid;
  border-radius:5px;
  width:120px;
  height:50px;
}



#page2{
  background-color:#f6def1;
  /*height:100vh;*/
}

#page2 h1{
   padding-top:5%;
}

#portfolio{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  flex-basis:50%;
  padding-bottom:5%;

}

#portfolio img{
  padding-top: 5%;
  width:40%;
}
