html,body{
  margin:0;
  padding:0;

}

.container{
	width:100%;
}
.container .row{
	display:flex;
}


#page1{
	padding-top:60px;
	height:100vh;
	width:100%;
	background: white;
	background-image: url("Galalea/waterfall.png"); 
	background-repeat: no-repeat; 
	background-position: center; 
	background-size: cover; 
	display: flex;
	align-items: center;

}

#page1 h1{
  font-size: 100px;
  font-family: 'Montserrat', sans-serif;
  color: white;

}

#nav{
	top:0;
	position:fixed;
	background-color:white;
	height:60px;
	width:100%;
  /*box-shadow: 2px 1px 5px 5px #D3D3D3;*/

}

.nav-portfolio{
   color:darkgray;
   letter-spacing: 3px;
}

#nav h1{
  font-family: 'Montserrat', sans-serif;
}

#nav a{
  text-decoration:none;
  transition:0.5s;
}

#nav a:hover{
  color:black;
}

a{
    display: flex;
    justify-content: center;
    align-items: center;
}



.button{
  border: 2px blue solid;
  background-color:white;
  border-radius:5px;
  width:120px;
  height:50px;
  margin:auto;
  transition:0.5s;
}

.button:hover{
  background-color:blue;
  color:white;
  text-decoration:none;
}


#page2{
  background-color:#ddf9ff;
  /*height:100vh;*/
}

#page2 h1{
   font-family: 'Montserrat', sans-serif;
   padding-top:5%;
}

/*#portfolio{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  flex-basis:50%;
  padding-bottom:5%;

}

#portfolio img{
  padding-top: 5%;
  width:40%;
}

#portfolio img:nth-child(3){
  margin-top:-25%;
}

#portfolio img:nth-child(5){
  margin-top:-57%;
}*/

#page3{
  height:100vh;
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

#page3 h1{
  font-family: 'Montserrat', sans-serif;
}

#page3 form{
  display:flex;
  flex-direction: column;


}

input{
  border-radius: 5px;
  border:none;
  padding:10px;

  margin-top:5px;
}



#contact{
  padding:10px;
  padding-top:30px;
  background-color:#ddf9ff;
  width:50%;
  margin:auto;
  border-radius:5px;

}

.submit:hover{
  background-color:#ddf9ff;
  transition: background-color 1s;
}


#photos {
  opacity: .88;
}

#photos img {
  width: 30%;
  float: left;
  /*display: block;*/
  margin: 2px;
}



ul {
  list-style: none;
  margin: 0px auto;
  padding: 10px;
  /*display: block;*/
  max-width:80%;
  /*max-width: 780px;*/
  text-align: center;
}

#overlay {
  background: rgba(0,0,0, .8);
  width: 100%;
  height: 500vh;
  position: fixed;
  display: none;
  text-align: center;
}

#overlay img {
  margin: 10% auto 0;
  width: 550px;
  border-radius: 5px;
}

#photos {
  width: 100%;
}

#photos a{
  display:inline;
}

#photo-gallery {
  width: 100%;
  margin:auto;
  /*display:block;*/
  overflow:auto;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    #page1{
      height:50vh;
    }
    #page3{
      height:50vh;
    }
    #nav h1{
      font-size:2rem;

    }

}
